.square {
    height: 50px;
    width: 50px;
    border: 1px solid black;
    border-radius: 4px;
    font-weight: bold;
}

.game-info {
    font-weight: bold;
    font-size: 18px;
}

.game-info ol li button {
    margin-top: 5px;
    text-transform: uppercase;
    border-radius: 4px;
    background: none;
    padding: 5px 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid rgb(15, 107, 194)
}


.game-info ol li button:focus {
    background-color:rgb(15, 107, 194) ;
}


.game-info ol li button:hover {
    background-color: royalblue;
}